/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* color */
:root {
    --background-first: #F6F7F7;
    --background-secondary: #ECEDED;
    --card: #FEFFFF;
    --stroke: #D8D9D9;
    --h1: #1D1D1B;
    --text: #606060;
    --akcent: #0074D9;
    --header-akcent: #4FADFF;
    --hover: #0A60C5;
    --shadow: 5px 10px 20px 0px rgba(35, 63, 104, 0.15);
    --shadow-secondary: 0px 20px 40px 0px rgba(35, 63, 104, 0.3);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
}

h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0;
}

h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0;
}

h6 {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 9vh;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn {
    min-height: 62px;
    background-color: var(--akcent);
    color: var(--background-first);
    width: 100%;
}

.primary-btn:hover {
    background-color: var(--hover);
}

/* Header Styles */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 21px 0;
    background-color: var(--card);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    margin-bottom: 0;
}

.logo h5 {
    color: var(--text);
}

.phone a {
    color: var(--h1);
    display: flex;
    align-items: center;
}

.phone a {
    gap: 12px;
}

/* Navigation Styles */
nav {
    position: sticky;
    top: 9%;
    z-index: 1000;
    background-color: var(--header-akcent);
    padding: 10px 0;
    box-shadow: var(--shadow);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu li h4 {
    color: var(--background-first);
    padding: 0px;
    transition: all 0.3s ease;
}

/* Hero Section */
.hero {
    background-image: url('images/banner.png');
    background-repeat: no-repeat;
    background-size: 123%;
    background-position: 0% 60%;
    height: 858px;
    color: white;
    padding: 10% 0;
    position: relative;
    min-height: 858px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.75) 24.8%, rgba(0, 0, 0, 0.5) 49.44%,
        rgba(0, 0, 0, 0.25) 75.65%, rgba(0, 0, 0, 0) 100%);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 1200px;
}

.call-button {
    background-color: var(--card);
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    gap: 10px;
}

.call-button h3 {
    color: var(--akcent);
    opacity: .7;
}

.hero-text h2 {
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 70px;
    font-weight: 700;
    color: var(--card);
}

.hero-text h3 {
    margin-bottom: 60px;
    max-width: 870px;
    color: var(--card);
    opacity: .7;
}

.limiter {
    max-width: 196px;
}

/* Advantages Section */
.advantages {
    padding-bottom: 5vh;
    background-color: var(--background-first);
}

.advantages-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.advantage-card {
    background-color: var(--card);
    padding: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
    min-width: 270px;
    gap: 10px;
}

.advantage-card h3 {
    margin-bottom: 10px;
}

.advantage-card h4 {
    color: var(--text);
}

.advantage-card:hover {
    transform: translateY(-5px);
}

.advantage-image {
    grid-column: 3 / span 4;
    grid-row: 1 / span 3;
    min-height: 584px;
}

.advantage-image img {
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}

/* Services Section */
.services {
    padding: 0 0 8vh 0;
    background-color: var(--background-secondary);
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.service-card {
    min-height: 550px;
    background-color: var(--card);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.service-card:hover {
    box-shadow: 5px 10px 20px 0px rgba(35, 63, 104, 0.15);
}

.service-image {
    min-height: 300px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

.services-description {
    margin: 30px 30px 20px 30px;
    max-height: 146px;
    height: 100%;
}

.service-card h4 {
    margin-top: 10px;
    color: var(--text);
    opacity: .7;
}

.service-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 30px 30px;
}

.price {
    color: var(--h1);
}

.service-link {
    display: flex;
    align-items: center;
}

.service-link h4 {
    color: var(--akcent);
    margin: 0 10px 0 0;
    transition: all 0.3s ease;
}

.service-card:hover h4:first-child {
    transform: translateX(5px);
}

/* Work Stages Section */
.stages {
    padding: 0 0 5vh 0;
    background-color: var(--background-first);
    position: relative;
}

.stages-container {
    position: relative;
}

.stage-line {
    background-image: url('./images/dashed-line.svg');
    position: absolute;
    top: 30px;
    left: -35vh;
    width: calc(65vw + 35vw);
    height: 257.78px;
    z-index: 1;
    overflow: visible;
}

.stages-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    position: relative;
    z-index: 2;
}

.stage-card {
    background-color: var(--card);
    padding: 30px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.stage-card h4 {
    color: var(--text);
    margin: 10px 0 20px 0;
}

.primary-btn h4 {
    color: var(--background-first);
    margin: 0;
}

.stage-number {
    color: var(--header-akcent);
    margin-bottom: 20px;
}

/* Portfolio Section */
.portfolio {
    padding: 5vh 0 5vh 0;
    background-color: var(--background-first);
}

.portfolio-card {
    background-color: var(--background-secondary);
    border-radius: 20px;
    padding: 40px;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.portfolio-text {
    display: grid;
    gap: 10px;
}

.portfolio-subtitle {
    color: var(--akcent);
}

.arrow-nav {
    display: flex;
    gap: 20px;
}

.nav-btn {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-color: var(--akcent);
    color: var(--background-first);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: var(--hover);
}

.portfolio-characteristics h4 {
    color: var(--text);
}

.characteristics-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.characteristic-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.blue-dot {
    width: 10px;
    height: 10px;
    background-color: var(--akcent);
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.portfolio-gallery {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    margin: 20px 0 30px 0;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.gallery-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    border-radius: 5px;
    overflow: hidden;
    max-width: 270px;
    min-height: 270px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    gap: 30px;
    align-items: center;
    border-radius: 8px;
}

.pricing-item {
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: var(--card);
    box-shadow: var(--shadow);
    border-radius: 20px;
    gap: 20px;
}

.pricing-icon {
    min-width: 70px;
    min-height: 70px;
    background-color: var(--background-first);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-details h3 {
    margin-bottom: 5px;
}

.pricing-details h4 {
    color: var(--text);
    white-space: nowrap;
}

/* Discount Section */
.discount {
    padding: 5vh 0 5vh 0;
    background-color: var(--background-secondary);
}

.discount-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.discount-text {
    display: grid;
    flex-direction: row;
    gap: 20px;
}

.discount-text h3 {
    color: var(--text);
}

.discount-text h4 {
    color: var(--text);
}

.primary-btn h4 {
    color: var(--background-first);
    margin: 0;
}

.btn-limiter {
    margin-top: 20px;
    max-width: 230px;
}

.discount-image {
    background-image: url('images/card1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--card);
    position: relative;
    max-width: 570px;
    min-height: 500px;
    border-radius: 5px;
}

/* Reviews Section */
.reviews {
    padding: 5vh 0;
    background-color: var(--background-first);
}

.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.review-nav {
    justify-items: start;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.review-card {
    background-color: var(--card);
    padding: 30px;
    border-radius: 5px;
}

.review-header {
    display: flex;
    margin-bottom: 20px;
}

.reviewer-avatar {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.reviewer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewer-info {
    margin: auto 0;
}

.reviewer-info h3 {
    margin-bottom: 5px;
}

.review-date {
    color: var(--header-akcent);
}

.review-content h4 {
    color: var(--text);
}

/* Call Request Section */
.call-request {
    padding: 10vh 0 5vh 0;
    background-color: var(--header-akcent);
}

.call-card {
    background-color: var(--card);
    box-shadow: var(--shadow-secondary);
    border-radius: 5px;
    padding: 30px;
}

.call-card h1 {
    display: flex;
    justify-content: center;
    color: var(--h1);
    margin-bottom: 40px;
}

.call-form {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.call-form input {
    flex: 1;
    padding: 20px;
    border: 1px solid #D8D9D9;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--text);
}

.call-form .primary-btn {
    background-color: var(--akcent);
    color: var(--card);
    max-width: 270px;
}

.call-form .primary-btn:hover {
    background-color: var(--hover);
}

/* Documents Section */
.documents {
    padding: 10vh 0 5vh 0;
    background-color: var(--background-first);
}

.documents-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.documents-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.document-card {
    overflow: hidden;
}

.document-image {
    max-height: 386px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.document-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.document-card h4 {
    text-align: center;
    color: var(--h1);
}

/* Contacts Section */
.contacts {
    min-height: 700px;
}
.contacts-container {
    margin: 5vh calc(1045 / 1920 * 100vw) 5vh calc(375 / 1920 * 100vw);
    position: absolute;
    z-index: 1;
    background-color: var(--card);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts-title {
    margin-bottom: 20px;
}

.contacts-info {
    padding-right: 30px;
}

.contact-item {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.contact-item h4 {
    color: var(--h1);
}

.contact-flex {
    display: flex;
    justify-content: space-between;
}

.item-flex {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.social-networks {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-networks h3 {
    margin: 20px auto 10px auto;
    color: var(--text);
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.whatsapp {
    background-color: #48C95F;
}

.telegram {
    background-color: #27A6E5;
}

.contacts-container button {
    margin: 0 25% 0 25%;
    max-width: 196px;
}

.contacts-map {
    position: absolute;
    overflow: hidden;
}

/* Footer */
footer {
    background-color: #05161F;
    padding: 29px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-logo h2 {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}

.footer-contact a {
    font-size: 24px;
    font-weight: bold;
}

.copyright {
    display: flex;
    justify-content: space-between;
    color: #999;
}

.privacy-policy h3 {
    font-family: 'FUTURA PT', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--background-first);
    opacity: .25;
    transition: color 0.3s ease;
}

.privacy-policy a:hover {
    opacity: .7;
}

.developer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.developer h3 {
    font-family: 'FUTURA PT', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--background-first);
    opacity: .25;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .advantages-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .advantage-image {
        grid-column: auto;
        grid-row: auto;
    }
    
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .stages-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .stage-line {
        display: none;
    }
    
    .portfolio-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .portfolio-pricing {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    .documents-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .contacts-container {
        grid-template-columns: 1fr;
    }
    
    .contacts-info {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-menu li {
        margin-bottom: 10px;
    }
    
    .hero-text h2 {
        font-size: 32px;
    }
    
    .discount-container {
        grid-template-columns: 1fr;
    }
    
    .reviews-grid {
        grid-template-columns: 1fr;
    }
    
    .call-form {
        flex-direction: column;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .footer-logo {
        margin-bottom: 20px;
    }
    
    .copyright {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .privacy-policy {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .advantages-grid,
    .services-grid,
    .stages-grid,
    .portfolio-gallery,
    .documents-grid {
        grid-template-columns: 1fr;
    }
    
    .header-container {
        flex-direction: column;
        text-align: center;
    }
    
    .logo {
        margin-bottom: 15px;
    }
    
    .characteristics-grid {
        grid-template-columns: 1fr;
    }
    
    .portfolio-pricing {
        grid-template-columns: 1fr;
    }
}